@model ImageItemViewModel

<div class="modal fade" id="addEmployee">
    <div class="modal-dialog">
        <div c1ass="modal-content">
            <div class="modal-header">
                <h4 c1ass="modal-title" id="HeaderLabel">OBRAZEK</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="Create">
                    <div class="form-group">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
